<form id="custom-demo" action="/" method="post">
	<div class="row-fluid">
		<div class="span3">
			<label>First Name:</label>
			<select name="first" id="first">
				<option value="">[choose one]</option>
				<option value="Adam">Adam</option>
				<option value="Eve">Eve</option>
			</select>
		</div>
		
		<div class="span3">	
			<label>Email Address:</label>
			<input type="text" name="email_address" id="email" />
		</div>
			
		<div class="span3">
			<label>&nbsp;</label>
			<button type="submit" id="custom_submit" value="Submit" class="btn-primary btn">Submit</button>
		</div>
		
		<div class="span3">
			<label>&nbsp;</label>
			<div id="success"></div>
		</div>
	</div>
</form>