<ul class="nav nav-list">
	<li class="nav-header">The Plugin</li>
	<li><a href="/jquery-osdi">jQuery OSDI</a></li>
    <li><a href="/jquery-osdi#overview--requirements">Overview & Requirements</a></li>
    <li><a href="/jquery-osdi#basic-usage--demo">Basic Usage & Demo</a></li>
    <li><a href="/jquery-osdi#options">Options</a></li>
    <li><a href="/jquery-osdi#form-input-names">Form Input Names</a></li>
    
    <li class="nav-header">The Demo</li>
	<li><a href="/jquery-osdi/demo.html">jQuery OSDI Demo</a></li>
    <li><a href="/jquery-osdi/demo.html#simple-form-example">Simple Form Example</a></li>
    <li><a href="/jquery-osdi/demo.html#custom-example">Custom Example</a></li>
</ul>