
<form id="simple-demo" action="https://osdi-sample-system.com/api/v1/petitions/41e14e41-3ba5-4304-8b6e-2dddcd528f98/signatures"  method="post">
	<div class="row-fluid">
		<div class="span3">
			<label>First Name:</label>
			<input type="text" name="given_name" />
		</div>
		
		<div class="span3">	
			<label>Last Name:</label>
			<input type="text" name="family_name" />
		</div>
		
		<div class="span3">
			<label>Email Address:</label>
			<input type="text" name="email_address"/>
		</div>
			
		<div class="span3">
			<label>Street Address:</label>
			<input type="text" name="street" />
		</div>
	</div>
	
	<div class="row-fluid">	
		<div class="span3">
			<label>City:</label>
			<input type="text" name="locality" />
		</div>
		
		<div class="span3">	
			<label>State (two digits):</label>
			<input type="text" name="region" />
		</div>
		
		<div class="span3">	
			<label>Zip/Postal Code:</label>
			<input type="text" name="postal_code" />
		</div>
		
		<div class="span3">	
			<label>Country (two digits):</label>
			<input type="text" name="country" />
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span3">	
			<label>Phone Number:</label>
			<input type="text" name="phone_number"  />
		</div>
		
		<div class="span3">
			<button type="submit" id="simple_submit" value="Submit" class="btn-primary btn">Submit</button>
		</div>
	</div>
</form>